.button {
    margin: 10px;
    border: none;
    color: white;
    padding: 15px;
    border-radius: 30px;
    cursor: pointer;
}

.del_btn{
    background-color: red;
}

.edt_btn{
    background-color: green;
}

.searchBar{
    margin-bottom: 100px;
    border: none;
}