.adFrame {
    border: solid 1px grey;
    border-left: none;
    border-right: none;
    padding: 15px;
    display: flex;
    overflow: auto;
}


button {
    margin: 10px;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 20%;
    cursor: pointer;
}

.del_btn{
    background-color: red;
}

.edt_btn{
    background-color: green;
}

.left{
    margin-right: 30px;
}

.middle{
    margin-right: 30px;
}

.right{
    margin-left: auto;
}

.avatar{
    width: 150px;
    height: 150px;
}